body {
    margin: 0;
    background-color: rgb(233, 233, 233);
}
.profile {
    position: absolute;
    top: 10vh;
    margin: 0 10% 0 10%;
    height: auto;
}
.row {
    position: relative;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 2vw;
}
.nested-row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 2vw 0 2vw 0;
}
.row #year {
    font-size: 0.7em;
}
#title {
    height: 17vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: white;
}
h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 12vh;
    font-size: 2vw;
    padding: 0 2vw 0 2vw;
}
img {
    position: relative;
    border-radius: 50%;
    border: 10px solid rgb(233, 233, 233);
    top: -10vh;
    width: 20vh;
}
#title span {
    color: orangered;
}
#content {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
#content h2 {
    font-weight: 400;
    color: orangered;
    text-transform: uppercase;
}
.grid {
    display: grid;
    grid-template-rows: auto auto;
}
.grid p {
    display: table-cell;
}
.triangle-left {
    margin-left: 10vw;
	border-top: 20px solid transparent;
	border-right: 20px solid rgb(233, 233, 233);
	border-bottom: 20px solid transparent;
}
.bubbles p {
    float: left;
}
.speech-bubble {
    margin: 0;
    background-color: rgb(233, 233, 233);
    width: 60vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.bar {
    background-color: orangered;
    color: white;
    font-weight: 400;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
}
#perc100 {
    width: 100%;
}
#perc90 {
    width: 90%;
}
#perc70 {
    width: 70%;
}
#perc50 {
    width: 50%;
}
#perc30 {
    width: 30%;
}
.experience-content {
    margin-left: 10vw;
    width: 60vw;
}
.stars {
    position: absolute;
    top: 30%;
    right: 0;
}
.line {
    border-bottom: 2px solid rgb(233, 233, 233);
}
.fa-star {
    color: silver;
}
.colored {
    color: orangered;
}
.tag {
    font-weight: 400;
    padding: 5px;
    background-color: crimson;
    color: white;
}
footer {
    background-color: white;
    text-align: right;
    box-sizing: border-box;
    padding: 2vw;
}